.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 25px; /* Espaçamento entre os cards */
    padding: 0 10px; /* Padding nas laterais */
}

.card {
    flex: 0 0 calc(100% - 20px); /* Largura do card em telas pequenas */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto; /* Portaliza o card */
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 50vh; 
    object-fit: cover;
    border-radius: 5px;
}

.card span {
    text-align: left;
    display: block;
    padding: 10px;
    color: var(--card-text-color);
    background-color: var(--card-bg-color);
}

.card p {
    font-size: 1em;
    color: #666;
    text-decoration: none;
    color: unset;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
    margin-right: 1vw;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: var(--dot-bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: var(--dot-active-color);
}


@media (max-width: 900px) {
    .card img {
        height: 40vh;
    }
}

@media (max-width: 600px) {
    .card {
        flex: 0 0 calc(100% - 20px); /* Exibe apenas um card por vez em telas pequenas */
        margin: 10px auto;
        padding: 10px;
    }
    
}

@media (max-width: 390px) {
    .card {
        flex: 0 0 calc(100% - 20px); /* Exibe apenas um card por vez em telas muito pequenas */
        margin: 10px auto; /* Portaliza o card */
    }
    
}



@media (max-width: 600px) {
    .carousel-indicators .dot {
        display: inline-block; /* Mostra todos os dots em telas pequenas */
    }
}

@media (min-width: 601px) {
    .carousel-indicators .dot:nth-child(n+4) {
        display: none; /* Esconde os dots extras em telas maiores */
    }
    .card {
        flex: 0 0 calc(50% - 20px);
    }
}
