.fish_body {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;

    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* É chamado pelo javascript */
.fish_body.show {
    transform: translateY(0);
    opacity: 1;
}

.fish_container {
    position: absolute;
    background-color: var(--white-color);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.fish {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(#ffd87f, #ffb781);
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    animation: animfish 6s ease-in-out infinite;
}

.fish::before {
    /* é a parte de cima do peixe */
    content: "";
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    background: 20% 20% radial-gradient(at bottom center, #ffbe31 5%, #ea7d38);
    height: 150px;
    width: 300px;
    border-radius: 40%;
    box-shadow: 1px 1px 15px #ffb781;
}

@keyframes animfish {
    0% {
        transform: translate(-50%, -55%);
    }
    50% {
        transform: translate(-50%, -70%);
    }
    100% {
        transform: translate(-50%, -55%);
    }
}

.mouth {
    position: absolute;
    background: linear-gradient(to left, #300900, #843724);
    height: 20px;
    width: 10px;
    top: 58%;
    left: 44px;
    border-radius: 50%;
    z-index: 50;
    overflow: hidden;
    animation: animmouth 6s ease-in-out infinite;
}

.mouth::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 15px;
    border-radius: 50%;
    left: 50%;
    background: #220700;
}

.mouth-border {
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 50%;
    left: 30px;
    top: 51%;
    background: linear-gradient(to bottom, #f8a934, #fbb233);
}

@keyframes animmouth {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.eye {
    position: absolute;
    background: #25152e;
    top: 44%;
    left: 20px;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-3deg);
    z-index: 20;
    animation: animeye 6s ease-in-out infinite;
}

.eye-right {
    top: 46%;
    left: 70px;
    transform: rotate(5deg);
}

@keyframes animeye {
    0% {
        height: 15px;
        width: 10px;
    }

    50% {
        height: 20px;
        width: 15px;
    }

    100% {
        height: 15px;
        width: 10px;
    }
}

.eyebrow {
    position: absolute;
    height: 8px;
    width: 20px;
    top: 36%;
    left: 15px;
    border-radius: 50%;
    border-top: 5px solid #f66b1e;
    transform: rotate(-12deg);
    z-index: 10;
    animation: animeyebrow 6s ease-in-out infinite;
}

.eyebrow::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 20px;
    top: -5px;
    left: 2px;
    border-radius: 50%;
    border-top: 5px solid #fa5609;
    transform: rotate(15deg);
    z-index: 5;
}

.eyebrow-right {
    left: 65px;
    top: 38%;
    transform: rotate(-12deg);
}

@keyframes animeyebrow {
    0% {
        top: 40%;
    }

    50% {
        top: 32%;
    }

    100% {
        top: 40%;
    }
}

.back-fin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 42%;
    transform: translateY(-50%);
    right: -16%;
    height: 80px;
    width: 50px;
    background: linear-gradient(to bottom, #febf31, #e9662b);
    clip-path: polygon(0 70%, 0 30%, 100% 0, 100% 100%);
    border-radius: 50%;
    z-index: 0;
    animation: animfin 6s ease-in-out infinite;
}

@keyframes animfin {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-90%);
    }
}

.back-fin::before {
    content: "";
    position: absolute;
    top: 20px;
    background: linear-gradient(to bottom, #ffaf2d 10%, transparent);
    width: 30px;
    height: 20px;
    right: 10px;
    border-radius: 50%;
    transform: rotate(-15deg);
    z-index: 10;
    box-shadow: 0px 5px 15px #ffb52d;
}

.back-fin::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 20px;
    left: -4px;
    box-shadow: 10px 0px 15px #ea642b;
    background: transparent;
    z-index: 0;
}

.back-fin-detail {
    position: absolute;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    border-top: 2px solid #fa5609;
    background: transparent;
    z-index: 0;
}

.back-fin-detail.fin-detail2 {
    width: 40px;
}

.back-fin-detail.fin-detail3 {
    width: 40px;
}

.fin-detail4.back-fin-detail {
    width: 55px;
}

.fin-detail5.back-fin-detail {
    width: 35px;
}

.top-fin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 55px;
    clip-path: polygon(100% 0%, 0 50%, 75% 100%);
    background: linear-gradient(to bottom, #febf31, #e9662b);
    border-radius: 100%;
    top: -10%;
    left: 70%;
    transform: rotate(7deg);
    animation: animtopfin 6s ease-in-out infinite;
}

@keyframes animtopfin {
    0% {
        top: -10%;
    }
    50% {
        top: -25%;
    }
    100% {
        top: -10%;
    }
}

.top-fin-detail {
    width: 40px;
    height: 1px;
    background: trsnparent;
    transform: rotate(-30deg);
    border-top: 1px solid #fa5609;
}

.bottom-fin {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ea846a, #ffb375);
    border-radius: 50%;
    top: 80%;
    left: 70%;
    height: 32px;
    width: 45px;
    animation: animbottomfin 6s ease-in-out infinite;
}

@keyframes animbottomfin {
    0% {
        top: 80%;
    }
    50% {
        top: 65%;
    }
    100% {
        top: 80%;
    }
}

.bottom-fin-detail {
    width: 35px;
    height: 8px;
    background: transparent;
    transform: rotate(25deg);
    border-radius: 50%;
    border-top: 1px solid #e47761;
}

.side-fin {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 30px;
    width: 45px;
    background: linear-gradient (to bottom, #febf31, #e9662b);
    left: 52%;
    top: 40%;
    border-radius: 50%;
    box-shadow: 1px 5px 5px #ff7d2d;
}

.side-fin::before {
    content: "";
    position: absolute;
    height: 45px;
    width: 25px;
    background: linear-gradient(to bottom, #fbb133, #ffbc32);
    top: -5px;
    left: -5px;
    border-radius: 60% 50%;
    border-right: 5px solid #f77a3b;
    box-shadow: 11px 0px 12px #ff7d2d;
}

.side-fin-detail {
    width: 45px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border-top: 1px solid #fa5609;
}

label {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #f7751b;
    position: absolute;
}

.thorn1 {
    left: 50%;
    font-size: 1.5rem;
    transform: rotate(210deg);
    text-shadow: 1px 1px 15px #fa5609;
}

.thorn2 {
    left: 80%;
    top: 20%;
    font-size: 0.5rem;
    transform: rotate(220deg);
    text-shadow: 1px 1px 15px #fa5609;
}

.thorn3 {
    left: 50%;
    font-size: 2rem;
    top: 20%;
    transform: rotate(210deg);
    text-shadow: 1px 1px 15px #fa5609;
}

.thorn4 {
    left: 85%;
    font-size: 1rem;
    top: 40%;
    transform: rotate(230deg);
    text-shadow: 1px 1px 15px #fa5609;
}

.thorn5 {
    left: 32%;
    font-size: 1.2rem;
    color: #f1956d;
    top: 77%;
    transform: rotate(330deg);
    text-shadow: 1px 1px 15px #cd7853;
}

.thorn6 {
    left: 50%;
    font-size: 1.5rem;
    color: #f1956d;
    top: 85%;
    transform: rotate(330deg);
    text-shadow: 1px 1px 15px #cd7853;
}

.thorn7 {
    left: 80%;
    font-size: 2rem;
    color: #f1956d;
    top: 65%;
    transform: rotate(330deg);
    text-shadow: 1px 1px 15px #cd7853;
}

.thorn8 {
    left: 60%;
    font-size: 0.8rem;
    color: #f1956d;
    top: 70%;
    transform: rotate(330deg);
    text-shadow: 1px 1px 15px #cd7853;
}

.thorn9 {
    left: 20%;
    font-size: 1rem;
    top: 15%;
    transform: rotate(210deg);
    text-shadow: 1px 1px 15px #fa5609;
}

.shadow {
    position: absolute;
    height: 15px;
    width: 170px;
    background: #f8b96b;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: 90%;
    box-shadow: 0px 0px 15px 15px #f8b96b;
    animation: animshadow 6s ease-in-out infinite;
}

@keyframes animshadow {
    0% {
        width: 170px;
    }
    50% {
        width: 100px;
    }
    100% {
        width: 170px;
    }
}

@media (max-width: 600px) {
    .fish_body{
        display: none;
    }
}