/* Ajuste do Header */
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    padding: 5px 20px;
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sidebar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.sidebar:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25vw;
    min-width: 300px;
    background-color: rgba(255, 254, 254, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
}

.sidebar-menu.open {
    transform: translateX(0);
}

.sidebar-menu ul {
    margin-top: 12vh;
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 8px;
    /* Borda arredondada */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
    padding-left: 10px;
}

.sidebar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Leve destaque */
    transform: scale(1.05);
    /* Leve aumento de tamanho */
}

/* hover nos links */
.sidebar-menu a:hover {
    color: #00bcd4;
    /* coloquei cor ao passar o mouse */
    padding-left: 20px;
    /* desloca pra esquerda */
    transform: translateX(5px);
    /* pequeno movimento de deslizar para a direita */
}

.sidebar-menu ul li a {
    color: rgb(8, 7, 7);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #00bcd4;
    border-radius: 25px;
    margin: 1px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Efeito de hover para o link/botão */
.sidebar-menu ul li a:hover {
    background-color: #00bcd4;
    /* muda a cor do fundo ao passar o mouse */
    color: white;
    /* muda a cor do texto no hover */
    border-color: #008c9e;
    /* borda tambem muda no hover */
    transform: translateX(5px);
    /* se move pra direita, igual fizemos com a sidebar */
}

/* Efeito de foco*/
.sidebar-menu ul li a:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    /* sombra no foco */
}

.sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.main_title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    transition: all 0.4s ease;
    margin-left: 1rem;
}

.main_title:hover {
    color: #da5c82;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.welcome-message {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-message h2 {
    margin: 0;
    line-height: 1.1;
}

.welcome-message .strong-text {
    font-weight: 700;
    font-size: 1.5rem;
}

.header__search {
    display: flex;
    align-items: center;
    min-width: 150px;
    max-width: 300px;
    height: 6vh;
    background-color: #fff;
    border-radius: 500px;
    padding: 5px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 1rem;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .welcome-message {
        display: none;
    }

    .header__search {
        width: 50%;
        margin: 0 20px 0 20vw;
    }
}

@media (max-width: 560px) {
    .sidebar-menu {
        width: 100%;
    }

    .title {
        font-size: 1.2rem;
    }

    .header__search {
        width: 60%;
        height: 40%;
        margin: 0 0 0 10vw;
    }
}

@media (max-width: 420px) {
    .main_title {
        font-size: 1.1rem;
        margin: 0 20px 0 0;
    }

    .header__search {
        width: 40%;
        height: 30%;
        margin: 0;
    }
}