/* Ajuste do Header */
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    padding: 5px 20px;
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.main_title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    transition: all 0.4s ease;
    margin-left: 1rem;
}

.main_title:hover {
    color: #da5c82;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.slogan {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 25vw;
}

.slogan h2 {
    margin: 0;
    line-height: 1.1;
    font-size: 1.2rem;
    margin-left: 5vw;
}

.sidebar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.sidebar:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .slogan {
        align-items: flex-start;
        margin-left: 2vw;
    }

    .slogan h1 {
        margin-right: 0;
        font-size: 1.2rem;
    }

    .slogan h2 {
        margin-left: 0;
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    .slogan{
        opacity: 0;
    }
}

@media (max-width: 440px) {
    .header__container { 
        gap: 6rem;
    }

    .slogan{
        display: none;
    }
}
