/* Ajuste do Header */
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    padding: 5px 20px;
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;   
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    min-width: 250px; 
    background-color: rgba(255, 254, 254, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
}

.sidebar-menu.open {
    transform: translateX(0);
}

.sidebar-menu ul {
    margin-top: 12vh;
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
    font-weight: 900;
}

.sidebar-menu a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.sidebar-menu ul li a {
    color: rgb(179, 52, 52);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.sidebar:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    transition: all 0.4s ease;
    margin-left: 1rem;
}

.title:hover {
    color: #da5c82;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.welcome-message {
    flex: 1; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
}

.welcome-message h2 {
    margin: 0;
    line-height: 1.1;
}

.welcome-message .strong-text {
    font-weight: 700;
    font-size: 1.5rem;
}

.header__search {
    display: flex;
    align-items: center;
    width: 15vw;
    max-width: 300px;
    height: 6vh;
    background-color: var(--search-bg-color);
    border-radius: 500px;
    padding: 5px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 1rem;
    color: var(--white-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
}

.locality {
    font-size: 1rem;
    color: #562a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #999696;
    margin: 2vw;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.locality:hover {
    background: #e0e0e0;
    border-color: #ec1010;
}

.locality span {
    font-weight: 500;
}

.locality__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.locality__button i {
    color: #c83131;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    .header__container {
        justify-content: center; 
    }

    .welcome-message {
        margin-left: 4rem;
    }
}

@media (max-width: 768px) {
    .header__container {
        flex-direction: column;
        height: auto; 
        padding: 10px;
    }
    .sidebar-menu ul {
        margin-top: 32vh;
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .welcome-message {
        font-size: 0.9rem;
        margin-left: 0;
    }

    .header__search {
        width: 90%; 
        margin: 5px auto;
    }

    .sidebar-menu {
        width: 75vw; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.3rem;
    }

    .welcome-message {
        font-size: 0.8rem;
        margin-left: 0;
    }

    .header__search {
        width: 60vw;
        max-width: 200px;
    }

    .sidebar-menu {
        width: 90vw; 
    }
}
