.main_container {
    margin-top: 15vh;
}

.news-title {
    font-family: var(--font-segoe-ui);
    padding: 0 0 0 20px;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 40vh;
    /* object-fit: cover; */
}

.card span {
    text-align: left;
    display: block;
    padding: 10px;
    font-size: 16px;
    color: var(--card-text-color);
    background-color: var(--card-bg-color);
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    bottom: 10px;
    width: 100%;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: var(--dot-bg-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: var(--dot-active-color);
}

.container-text {
    position: relative;
    flex: 1 1 140px;
    padding: 1.5vw;
    box-sizing: border-box;
    border: 0.25vw solid var(--container-border-color);
    background-color: #D9D9D9;
    border-radius: 2vw;
    text-align: justify;
}

.container-text h2 {
    margin-bottom: 1vh;
}

/* parte de fora da seta */
.container-text::before {
    content: "";
    position: absolute;
    right: -3.6vw;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 1.8vw solid transparent;
    border-bottom: 1.8vw solid transparent;
    border-left: 3.6vw solid var(--container-border-color);
}

/* parte de dentro da seta */
.container-text::after {
    content: "";
    position: absolute;
    right: -2.8vw;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 1.6vw solid transparent;
    border-bottom: 1.6vw solid transparent;
    border-left: 3.2vw solid #D9D9D9;
}


/* Estilo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#portfolio {
    padding: 50px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centralizar os cards */
    gap: 20px;
}

.portfolio-item {
    flex: 1 1 calc(33.333% - 40px);
    /* Ajustar o tamanho dos cards */
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    /* Alterar se quiser mudar o espaçamento dos cards */
}

.portfolio-item img {
    max-width: 100%;
    height: 275px;
    /* Ajustar o tamanho da imagem, mas ainda nao sei qual tamanho fica melhor*/
    object-fit: cover;
    /* é pra img cobrir todo o card */
    border-radius: 5px;
}

.portfolio-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.portfolio-item p {
    font-size: 1em;
    color: #666;
}


/* Ajuste para telas menores */
@media (max-width: 600px) {
    .container-text {
        max-width: 100%;
        flex: 1 1 100%;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

/* Responsividade do Luis*/
@media (max-width: 900px) {
    .portfolio-item {
        flex: 1 1 calc(50% - 40px);
        /* Ajusta para dois cards por linha */
    }
}

@media (max-width: 600px) {
    .portfolio-item {
        flex: 1 1 calc(33.333% - 40px);
        /* 3 items per row */
    }
}

/* Media query for larger screens */
@media (min-width: 600px) {
    .card {
        min-width: calc(50% - 10px);
        /* 2 cards visíveis por vez */
    }
}

